# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
infra/*.tfvars

# Node
node_modules/
frontend/.next/
frontend/node_modules/
lambda/node_modules/

# Environment secrets
.env
.env.local

# OS
.DS_Store
Thumbs.db